<div ng-controller="projectsViewCtrl" class="projects">
	<div>
		<p> Web Application Development </p>
		<p> - HTML5, CSS3, JavaScript, AJAX, PHP, MySQL </p><br>
		<ul>
			<li> Designed and developed a website for a Summer Camp where parent can enroll their children using a web application form.</li>
			<li>Developed a website for Chocolate Factory where user can view the list for products via category and purchase.</li>
		</ul>
	</div>
	<div>
		<p> Database & Web Programming </p>
		<p> – C#.net, Visual Studio 2013, HTML5, CSS, JavaScript, XML </p><br>
		<ul>
			<li> Developed a webpage having calculator applications like list calculator, conversion calculator and investment calculator.</li>
			<li> Designed a relational database which is used to catalog movies and created a website to access the database.</li>
		</ul>
	</div>
	<div>
		<p> Scientific Database Project </p> 
		<p> – MySQL, PHP, HTML5, CSS, JavaScript, AJAX </p><br>
		<ul>
			<li> Designed and developed web interface tool to access and manage the database using embedded MySQL queries.</li>
			<li> Created charts using Google chart API to extract and display the graphical data from database with easy user interface.</li>
		</ul>
	</div>
</div>