<div ng-controller="projectsViewCtrl" class="projects">
	<div>
		<p> Database & Web Programming </p>
		<p> – C#.net, Visual Studio 2013, HTML5, CSS, JavaScript, XML </p><br>
		<ul>
			<li> Designed a relational database which is used to catalog movies and created a website to access the database.</li>
			<li> Developed a webpage having calculator applications like list calculator, conversion calculator and investment calculator.</li>
			<li> Designed several web pages having different sizes of table, images, lists, forms, hyperlinks using HTML5, CSS and JavaScript.</li>
		</ul>
	</div>
	<div>
		<p> Scientific Database Project </p> 
		<p> – MySQL, PHP, HTML5, CSS, JavaScript, AJAX </p><br>
		<ul>
			<li> Designed and developed web interface tool to access and manage the database using embedded MySQL queries.</li>
			<li> Created charts using Google chart API to extract and display the graphical data from database with easy user interface.</li>
		</ul>
	</div>
	<div>
		<p> Cellular Notification System </p>
		<p> – C#.net, MySQL, HTML </p><br>
		<ul>
			<li> Developed a notification system which matches job profiles according to student’s skills and send SMS on their cell phones.</li>
			<li> Provided facilities like managing student records, auto reply facility, logs, time-stamping records, and company job profiles.</li>
		</ul>
	</div>
	<div>
		<p> Data Management Application for students’ placement cell </p>
		<p> – C#.net, MySQL, HTML </p><br>
		<ul>
			<li> Designed a system which allows companies and students to create and manage their profiles for a college placement cell.</li>
			<li> Developed a module which allows companies to search student profiles and students to search job profiles respectively.</li>
		</ul>
	</div>
	<div>
		<p> Spatial Database Project </p>
		<p> – Oracle11g, SQL, JDBC, JAVA, MapViewer </p><br>
		<ul>
			<li>Created a geometric structure using Oracle spatial and JAVA swing in order to study spatial database.</li>
			<li> Created a spatial database using optimized SQL queries also learned the basic concepts of geographical information system.</li>
		</ul>
	</div>
</div>