<div ng-controller="aboutViewCtrl" class="about">
	About this portfolio:
	<p>
 		This portfolio itself is an example of my work. It's a website representation of my curriculum vitae showing my education, technical skills, professional experience and my academic projects. I tried to keep it simple and decent. My motive to build this portfolio was to learn more technologies while practically applying it.
 	</p>
 	<p>
 		I have decided to build this portfolio using the technologies which are currently boom in market. I took some online tutorials to get started. While working on this site, I have learned languages like Angular.js, Node.js, Grunt.js and LESS. Also, I got a good practice with HTML5, CSS3, Bootstrap and JavaScript which I had used before.
 	</p>
 	<p>
 		Please find the GitHub link below, if you want to see my code. <br>
 		<a href="https://github.com/shreyasdorle/Portfolio.git"> https://github.com/shreyasdorle/Portfolio.git </a>
 	</p>
 	Want to know little bit about me?
 	<p>
 		People call me "Smiley face" because I always keep smiling. I work with a positive attitude. I like to keep myself busy by doing some work or by doing extra-curricular activities.
 		My hobbies are Playing pool, ping pong, soccer, swimming, listening quality music and watching movies.
 	</p><br>
 	<p>
 		I appreciate your time for going through my portfolio.
 		Please feel free to contact me, if you want to work together or just to say hello!
 		Feedback on anything will be always appreciated. <br>
	 	Thank you! Keep Learning! Good Bless!
 	</p>
</div>