<div ng-controller="skillsViewCtrl" class="skills">
	<div class="table">
		<table>
			<tr>
				<td>Languages:</td>
				<td>C, C++, C#, Java.</td>
			</tr>
			<tr>
				<td>Web Technologies:</td>
				<td>HTML5, CSS3, LESS, Bootstrap, jQuery, JavaScript, AngularJS, NodeJS, GruntJS, PHP, AJAX, XML.</td>
			</tr>
			<tr>
				<td>Tools:</td>
				<td>MATLAB, Visual Studio, Looker, AWS, GitHub.</td>
			</tr>
			<tr>
				<td>Database:</td>
				<td>MySQL, Oracle11g.</td>
			</tr>
			<tr>
				<td>Operating System:</td>
				<td>Windows, Macintosh, Linux.</td>
			</tr>
		</table>
	</div>
	<div class="footer">
		<p> To download the PDF copy of my resume, Click on following link: </p>
		<a href="../../Images/Shreyas_Dorle_Resume.pdf" download> Download Resume </a>
	</div>
</div>