<div ng-controller="educationViewCtrl" class="education">
	<div class="sdsu">
		<img src="../../Images/sdsu.jpg" />
		<section>
			<p>Master of Science in Computer Science</p>
			<p>San Diego State University, CA</p>
			<p>Graduation Date: Aug 2015</p>
			<p>GPA: 3.68</p>
		</section>
	</div>
	<div class="nagpur_university">
		<img src="../../Images/nagpur_university.jpg" />
		<section>
		<p>Bachelor of Engineering in Computer Science &amp; Engineering</p>
		<p>Nagpur University, India</p>
		<p>Graduation Date: May 2013</p>
		<p>Grade: First Class</p>
		</section>
	</div>
</div>