<div ng-controller="homeViewCtrl" class="home">
	<div class="image">
		<div></div>
		<p> Shreyas Dorle </p>
	</div>
	<div class="content">
		<p> Hello there, </p> 
		<p> Thanks for landing on my website. </p>
		<p>	I am Shreyas Dorle and Front End Development is my Passion. </p>
		<p> My web development career started when I created a simple web-page using HTML in High-school. I got excited to learn more about web developement. During my Bachelor's I worked on some projects in which I have used HTML, CSS, Javascript. As time flies by and new technologies take over in web development. To learn new stuff, I enrolled in web development coursework in San Diego State University while pursing my Master's in Computer Science. I have learned and used HTML5, CSS3, Javascript, PHP, AJAX, XML. Thereafter, I took some online tutorials for Angular.js, Grunt.js, Node.js, LESS, Bootstrap and have applied these technologies to create my portfolio. </p>
		<p>	Please go through all tabs to learn more about me.</p>
		<p>	Thank you! </p>
	</div>
	<div class="quote">
		<p>"Hard work opens doors and shows the world that you are serious about being one of those rare and special human beings who use the fullness of their talents to do their very best."</p>
		<p> - Robin Sharma.</p>
	</div>
</div>
